[submodule "SnowFlakeProject"]
	path = SnowFlakeProject
	url = https://github.com/Nikgor2002/SnowFlakeProject
[submodule "CardReaderNative"]
	path = CardReaderNative
	url = https://github.com/hitfot/CardReaderNative
[submodule "attendance_web_app"]
	path = attendance_web_app
	url = https://github.com/Kar1ch/attendance_web_app
[submodule "cpp_compiler_example"]
	path = cpp_compiler_example
	url = https://github.com/Trilonka/cpp_compiler_example
[submodule "quack_basic"]
	path = quack_basic
	url = https://github.com/FoggyAndromeda/quack_basic
[submodule "CPU-Emulator"]
	path = CPU-Emulator
	url = https://github.com/V13kv/CPU-Emulator
[submodule "Telegram-Neural-Style-Transfer"]
	path = Telegram-Neural-Style-Transfer
	url = https://github.com/Sp1d3rGH/Telegram-Neural-Style-Transfer
[submodule "PhysicsEngine"]
	path = PhysicsEngine
	url = https://github.com/DroidFDV/PhysicsEngine
[submodule "Math_Calculator"]
	path = Math_Calculator
	url = https://github.com/ddddoser/Math_Calculator
